* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.navigation {
  padding: 0px 20px 0px 20px;
}

.navigation-container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo-container img {
  width: 100px;
}

.heading {
  color: #1a936f;
}

.navigation-button {
  border: none;
  background-color: #1a936f;
  padding: 5px 20px 5px 20px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  transition: transform 0.2s;
}

.navigation-button:hover,
.homepage-signup:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.main {
  height: 100vh;
  padding: 0px 20px 20px 20px;
}

.main-container {
  background-color: #c6dabf;
  height: 80%;
  border-radius: 30px;
  display: flex;
}

.side1 {
  width: 50%;
  display: flex;
  align-items: center;
}

.side2 {
  width: 50%;
}

.side1-container {
  padding: 50px;
}

.homepage-hero {
  font-size: 70px;
  color: #114b5f;
}

.homepage-description {
  font-size: 30px;
  margin-top: 50px;
  color: white;
  font-weight: 600;
}

.homepage-signup {
  border: none;
  padding: 15px 25px 15px 25px;
  margin-top: 50px;
  font-size: 20px;
  background-color: #ff5c46;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s;
}

.credits-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-info {
  font-size: 40px;
}

.credits {
  margin-top: 100px;
}

.credits-card-container {
  margin-top: 100px;
  margin-bottom: 150px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 100px 0px 100px 0px;
  background-color: #c6dabf;
}

.credit-card-info {
  margin-top: 20px;
}

.avatar img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  object-fit: cover;
}

.credit-card {
  width: 300px;
  background-color: #465a64;
  padding: 20px 15px 20px 15px;
  border-radius: 30px;
  color: white;
}

.avatar-description {
  margin-top: 20px;
  line-height: 1.8;
  font-size: 16px;
}

.number {
  margin-top: 10px;
}

.footer {
  background-color: #c6dabf;
}

.footer-container {
  padding: 50px;
  font-weight: 700;
  text-align: center;
  color: #465a64;
}

@media only screen and (max-width: 1200px) {
  .navigation-container {
    padding: unset;
  }

  .navigation-button {
    font-size: 10px;
    padding: 5px 15px 5px 15px;
  }

  .logo-container img {
    width: 50px;
  }

  .logo-container {
    gap: 10px;
  }

  .heading {
    font-size: 20px;
  }

  .profile-area img {
    width: 30px;
  }

  .button-container {
    width: 100%;
    gap: unset;
    justify-content: space-between;
    margin-top: 50px;
  }

  .navigation {
    padding-top: 40px;
  }

  .main {
    margin-top: 50px;
  }

  .main-container {
    flex-direction: column-reverse;
    height: unset;
    text-align: center;
  }

  .credits {
    margin-top: 100px;
  }

  .side1 {
    width: 100%;
  }

  .side2 {
    width: 100%;
  }

  .side1-container {
    padding: 20px 20px 40px 20px;
  }

  .homepage-hero {
    font-size: 35px;
  }

  .homepage-description {
    font-size: 25px;
    margin-top: 20px;
  }

  .homepage-signup {
    font-size: 15px;
  }

  .credits-card-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .credit-card {
    width: 90%;
  }
}
